.server-side-container {
    display: flex;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
}

.calls-list {
    flex: 1 1 33%; /* Take up 1/3 of the horizontal space */
    overflow-y: auto; /* Scroll if content overflows */
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 20px;
}

.call-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.map-container {
    flex: 2 1 66%; /* Take up 2/3 of the horizontal space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
}

.map-placeholder {
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    background-color: #e0e0e0; /* Placeholder color, replace with your map */
    margin-bottom: 20px;
}

.map-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.call-item p {
    cursor: pointer;
    user-select: none;
}

.call-details {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 3px solid #4CAF50;
}