/* ClientComponent.css */

.client-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    font-family: 'Arial', sans-serif;
  }
  
  .client-button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .h2 {
    font-size: 80px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
    margin-bottom: 20px; /* Add some space below the header */
  }
  
  .client-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .client-button:hover:not(:disabled) {
    background-color: #45a049;
  }
  
  .audio-player {
    margin-top: 20px;
    outline: none;
  }
  
  /* Styling for the waveform */
  .waveform {
    width: 80%;
    margin-top: 20px;
  }
  
  /* Record button style */
  .record-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e74c3c; /* Red color */
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease;
  }
  
  /* Record button hover effect */
  .record-button:hover {
    background-color: #c0392b; /* Darker red color on hover */
  }
  
  /* Record button icon style */
  .record-button-icon {
    width: 50px;
    height: 50px;
    fill: #fff; /* White color for the icon */
  }
  .location-container {
    background-color: #f2f2f2;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

.location-container p {
    margin: 5px 0;
    color: #333;
    font-size: 16px;
}

.location-coordinates {
    font-weight: bold;
    color: #007bff;
}